.card {
    width: 480px;
    margin: 0 auto;
}
.card-body {
    span {
        text-transform: capitalize;
    }
    .rate {
        margin-top: 15px;
    }
}
.detailsBT{
    position: absolute;
    top: 14%;
    left: 10%;
}
.deleteBT{
    position: absolute;
    top: 20%;
    left: 10%;
}