<!-- Card -->
<div class="movieWrapper animated zoomInUp">

    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">

        <!-- Card content -->
        <mdb-card-body cascade="true" class="text-center">
            <!--Title-->
            <mdb-card-title>
                <h4>
                  <strong>{{movieObj?.snippet.title}}</strong>
                </h4>
            

            </mdb-card-title>

            <!--Card image-->
            <div class="view view-cascade overlay">
                <img
                    class="img-fluid mx-auto"
                    [src]="movieObj?.snippet.thumbnails.high.url"
                    alt="{{movieObj?.name}}"></div>
                <!--/Card image-->
<br/>
<iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                <mdb-card-text>
                   Description: <h5>{{movieObj?.snippet.description}}</h5>
                </mdb-card-text>

                <mdb-card-text>
                    <i class="fa fa-film px-2"></i>
                    <span>Published At:
                    </span>{{convertDate(movieObj?.snippet.publishedAt)}}</mdb-card-text>
                <mdb-card-text>
                    <i class="fa fa-tag px-2"></i>
                    <span>Channel Title:
                    </span>{{movieObj?.snippet.channelTitle}}</mdb-card-text>

            </mdb-card-body>

        </mdb-card>
    </div>
    <a
    routerLink="/movies"
    (click)="onDeleteMovie()"
    class="btn btn-primary waves-light deleteBT"
    mdbWavesEffect>Delete Movie</a>
    <a
        routerLink="/movies"
        class="btn btn-primary waves-light detailsBT"
        mdbWavesEffect>Back!</a>